<div class="m-5 py-5" *ngIf="subscribers">
  <div class="d-flex justify-content-between">
    <h2 class="mb-4 text-center">{{'LIST.Title' | translate }} <span class="badge text-bg-danger">{{subscribers.Count}}</span>
    </h2>
    <div><button routerLink="/base/create-edit" type="button" class="btn btn-secondary text-white">{{'LIST.Add-Sub' | translate }}</button></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">{{'LIST.Table.Id' | translate }}</th>
        <th scope="col">{{'LIST.Table.Email' | translate }}</th>
        <th scope="col">{{'LIST.Table.Name' | translate }}</th>
        <th scope="col" class="text-center">{{'LIST.Table.Country' | translate }}</th>
        <th scope="col" class="text-center">{{'LIST.Table.Job' | translate }}</th>
        <th scope="col" class="text-center">{{'LIST.Table.Phone' | translate }}</th>
        <th scope="col" class="text-center">{{'LIST.Table.Status' | translate }}</th>
        <th scope="col" class="text-center">{{'LIST.Table.Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subscriber of subscribers.Data |
          paginate : {
            itemsPerPage: pageSize,
            currentPage: page
          }; let i = index">
        <td class="text-center">{{subscriber.Id}}</td>
        <td>{{subscriber.Name}}</td>
        <td>{{subscriber.Email}}</td>
        <td class="text-center">{{subscriber.CountryName}}</td>
        <td class="text-center">{{subscriber.JobTitle}}</td>
        <td class="text-center">{{subscriber.PhoneCodeAndNumber}}</td>
        <td class="text-center">{{subscriber.SubscriptionStateDescription}}</td>
        <td class="text-center">
          <i class="bi bi-pencil-fill mx-1 text-secondary" [routerLink]="['/base/create-edit', subscriber.Id]"></i>
          <i class="bi bi-trash mx-1 text-danger" data-bs-toggle="modal" data-bs-target="#ModalDetele"
            (click)="selectSubscriber(subscriber)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls class="pagination" previousLabel="" nextLabel="" (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>
</div>

<!-- Modal - Delete -->
<div class="modal fade" id="ModalDetele" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{'LIST.Modal.Title-Detele' | translate }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedSubscriber">
        {{'LIST.Modal.Text-Detele-1' | translate }} {{selectedSubscriber.Name}} {{'LIST.Modal.Text-Detele-2' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'LIST.Modal.Cancel' | translate }}</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteSub()">{{'LIST.Modal.Delete' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Delete Success -->
<ng-template #modalDeleteSuccess let-modal>
  <div class="card text-center p-4 modal-tekus">
    <p class="icon-close" (click)="modal.close()"><i class="bi bi-x"></i></p>
    <div class="card-body">
      <h5 class="card-title m-0">{{'LIST.Modal.Title-Detele-Success' | translate }}</h5>
      <p class="m-0"><i class="bi bi-check-circle text-success m-0 icon-center"></i></p>
    </div>
  </div>
</ng-template>